{% extends "admin/base_site.html" %}
{% load i18n %}
{% load adminmedia %}

{% block extrahead %}
{{ block.super }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}
 <div class="breadcrumbs">
    <a href="../admin/">{% trans "Home" %}</a> &rsaquo;
    {% trans "Fetch albums for object" %}
 </div>
{% endblock %}

{% block content %}
<h1>Fetch albums for object</h1>
<div id="content-main">
	
<form method="post">{% csrf_token %}
	<fieldset id="album-form" class="module aligned wide">
		<div class="form-row">
			<label for="fetch-what">Facebook object ID</label>
			<input type="text" id="fetch_what" name="page_id">
		</div>
	</fieldset>
		<button type="submit" name="search_button" id="search-button">Search</button>
</form>
</div>
{% endblock %}